
    <%- include('header') -%>
      <div class="container">
        <% if (news) { %>
            <ul class="list-group list-group-flush">
                <% for(var j=0; j < news.length; j++) { %>
                    <li class="list-group-item">
                        <%= news[j].heading %>
                    </li>
                <% } %>
            </ul>
        <% } %>
      </div>
      <%- include('footer') -%>

    <style>
        body{
            font-family: 'Montserrat', sans-serif;
        }
        h1 {
            font-weight: 700;
            text-align: center;
        }
        .list-group-item {
            border: none !important;
            font-weight: 300;
        }
        a {
            text-decoration: none !important;
            color: black;
        }
      
    </style>
  